body.admin-panel {
    font-family: 'Roboto', sans-serif;

    .admin-panel-conteiner{
        display: flex;
        padding: 0 50px;
        background: white;
        min-height: 950px;
        margin: 0 20px;

    .left-panel {
            width: 15%;
            border-right: 2px solid $bodyBackgroundColor;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin: 15px 0;

                    a {
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                    }

                    img {
                        width: 25px;
                        margin-right: 10px;
                        vertical-align: top;
                    }
                }
            }
        }

        .right-panel {
            width: 84%;
        }
    }
}

.games-administration {

    .admin-add-new-game {

        form {
            display: flex;
            padding: 50px;
            margin: 20px;
            border: 1px solid $bodyBackgroundColor;
            border-radius: 10px;
            position: relative;

            .game-data {
                flex: 1;
                margin-right: 100px;
            }

            .hardware-requirements {
                flex: 1;

                .hardware-requirements-title {
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    border-bottom: 1px solid $basicHoverButton;
                }
            }

            label {
                display: block;

                span {
                    display: inline-block;
                    width: 30%;
                }

                input, textarea {
                    display: inline-block;
                    width: 70%;
                }

                textarea {
                    height: 200px;
                    vertical-align: middle;
                }

                input[name="game-description"]{
                    height: 200px;
                }
            }

            input[type="submit"]{
                position: absolute;
                bottom: 50px;
                right: 50px;
            }
        }
    }
}