// Background

$bodyBackgroundColor: #080808;

$headerBackgroundDark: #233975;
$headerBackgroundLight: #2c5db1;

$baseButtonBackground: #93939a;
$basicHoverButton: #b0b0b1;

$errorColor: #e02929;



// Fonts

$basicMenuFontColor: #b9c0da;
$menuLogoColor: white;
$basicSectionColor: #000000;

// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;

@font-face {
  font-family: 'angry-birds';
  src: url('../fonts/angrybirds-regular.ttf');
}

// Shadows

$basicTextShadow: 3px 3px 0px rgba(0, 0, 0, 1);
$basicBoxShadow: 0 0 13px -3px black;

// Borders

$basicSectionBorder: 1px solid #000000;
$notPlayedGameBorder: 10px solid transparent;
$playedGameBorder: 10px solid green;