div.home-page {
    display: flex;

    .main-content {
        width: 70%;
    }

    aside {
        width: 30%;
        margin-top: 50px;

        .top-list-container {
            margin: 0 20px;
            box-shadow: $basicBoxShadow;
            background-color: $formBackgroundColor;
            border-radius: 4px;
            padding: 25px;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
            border-bottom: $inputTextBorder;
        }

        .players-top-game-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .top-list-element {
                padding: 20px 0;
                position: relative;

                a {
                    text-decoration: none;
                    color: $basicSectionColor;
                    display: flex;
                }

                .list-number {
                    margin: auto;
                    font-size: 30px;
                    width: 40px;
                    text-align: center;
                }

                .game-cover {
                    flex: 1;
                    margin-left: 10px;

                    img {
                        max-height: 100px;
                        max-width: 70px;
                    }
                }

                .game-info {
                    flex: 2;
                    text-align: center;

                    .game-title {
                        font-size: 18px;
                        font-weight: bold;
                        height: 45px;
                    }

                    .players-average {
                        background-color: $ratingBackgroundColor;
                        color: $headerBackgroundDark;
                        padding: 10px;
                        font-size: 25px;
                        font-weight: bold;
                        border-radius: 5px; 
                        box-shadow: $basicInsetBoxShadow;         
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 85%;
                    height: 1px;
                    background-color: $ratingBackgroundColor;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
}


section.last-add-game {
    border: $basicSectionBorder;
    border-radius: 10px;
    box-shadow: $basicBoxShadow;
    margin-top: 45px;

    width: 300px; //temporary

    h3 {
        text-align: center;
        background: $headerBackgroundLight;
        margin: 0;
        padding: 15px;
        color: $basicMenuFontColor;
        border-radius: 9px 9px 0 0;
        font-size: 20px;
        text-transform: uppercase;
        
    }
    
    .last-add-game-cover {
        margin: 10px;
        text-align: center;

        a {
            img {
                width: 200px;
                border: $basicSectionBorder;
            }
        }
    }

    .last-add-game-info {
        text-align: center;
        padding-bottom: 15px;

        h4 {
            font-size: 18px;
            text-align: center;
        }
    }
}

section.last-articles {
    margin-top: 50px;
    padding: 25px;
    box-shadow: $basicBoxShadow;
    background-color: $formBackgroundColor;
    border-radius: 4px;

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        border-bottom: $inputTextBorder;
    }
    
    .last-articles-container {

        .last-articles-slider {         
            list-style-type: none;
            margin: 0;
            padding: 0;

            .articles-list-item {
                margin: 20px 0;
                
                h2 {
                    text-align: left;
                    text-transform: inherit;
                    font-size: 20px;
                    color: $headerBackgroundDark;
                }

                .article-date {
                    font-style: italic;
                    color: $basicMenuFontColor;
                    margin: 5px 0;
                    font-size: 14px;
                }

                .article-header {
                    height: 75px;
                }

                .article-read-more {
                    text-align: right;

                    a {
                        text-decoration: none;
                        color: $headerBackgroundDark;
                        font-weight: bold;

                        &:after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 100px;
                            bottom: -6px;
                            right: 0;
                            background-color: $headerBackgroundDark;
                            transform: scaleX(0);
                            transition: 0.2s transform linear;
                        }
    
                        &:hover {
                            &:after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            .slick-dots {

                li {
                    button {

                        &:before {
                            color: $baseButtonBackground;
                            font-size: 14px;
                            opacity: 1;
                            top: -25px;
                        }
                    }

                    &.slick-active {
                        button {
                            &:before {
                                color: $headerBackgroundDark;
                            }
                        }
                    }
                }
            }
        }
    }
}