div.home-page {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1100px){
        flex-direction: row;
    }

    .main-content {
        width: 100%;

        @media screen and (min-width: 1100px){
            width: 65%;
        }
    }

    aside {
        width: 100%;
        margin-top: 20px;

        @media screen and (min-width: 1100px){
            width: 33%;
            margin-top: 50px;
            margin-left: 20px;
        }

        .top-list-container {
            margin: 0;
            box-shadow: $basicBoxShadow;
            background-color: $formBackgroundColor;
            border-radius: 4px;
            padding: 25px;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
            border-bottom: $inputTextBorder;
        }

        .players-top-game-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .top-list-element {
                padding: 20px 0;
                position: relative;

                a {
                    text-decoration: none;
                    color: $basicSectionColor;
                    display: flex;
                }

                .list-number {
                    margin: auto;
                    text-align: center;
                    font-size: 20px;
                    width: auto;

                    @media screen and (min-width: 425px){
                        font-size: 30px;
                        width: 40px;
                    }
                }

                .game-cover {
                    flex: 1;
                    margin-left: 10px;

                    img {
                        max-height: 100px;
                        max-width: 70px;
                    }
                }

                .game-info {
                    flex: 2;
                    text-align: center;

                    .game-title {
                        font-size: 18px;
                        font-weight: bold;
                        height: 45px;
                    }

                    .players-average {
                        background-color: $ratingBackgroundColor;
                        color: $headerBackgroundDark;
                        padding: 10px;
                        font-size: 25px;
                        font-weight: bold;
                        border-radius: 5px; 
                        box-shadow: $basicInsetBoxShadow;         
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 85%;
                    height: 1px;
                    background-color: $ratingBackgroundColor;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
}


section.last-add-game {
    border-radius: 4px;
    box-shadow: $basicBoxShadow;
    margin-top: 20px;
    padding: 25px;
    background-color: $formBackgroundColor;

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        border-bottom: $inputTextBorder;
        
    }

    .last-add-game-container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: 570px){
            flex-direction: row;
        }

        .last-add-game-item {
            margin: 15px 40px 0;

            @media screen and (min-width: 570px){
                margin: 15px 0 0;
            }

            @media screen and (min-width: 1330px){
                margin: 15px 40px 0;
            }
        }
    }
    
    .last-add-game-cover {
        margin: 10px;
        text-align: center;

        a {
            img {
                width: 150px;
                border: $basicSectionBorder;
            }
        }
    }

    .last-add-game-info {
        text-align: center;
        padding-bottom: 15px;

        h4 {
            font-size: 18px;
            text-align: center;
            margin: 10px;
        }
    }
}

section.last-articles {
    margin-top: 50px;
    padding: 25px;
    box-shadow: $basicBoxShadow;
    background-color: $formBackgroundColor;
    border-radius: 4px;

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        border-bottom: $inputTextBorder;
    }
    
    .last-articles-container {

        .last-articles-slider {         
            list-style-type: none;
            margin: 0;
            padding: 0;

            .articles-list-item {
                margin: 20px 0;
                
                h2 {
                    text-align: left;
                    text-transform: inherit;
                    font-size: 20px;
                    color: $headerBackgroundDark;
                }

                .article-date {
                    font-style: italic;
                    color: $basicMenuFontColor;
                    margin: 5px 0;
                    font-size: 14px;
                }

                .article-header {
                    // height: 75px;
                }

                .article-read-more {
                    text-align: right;

                    a {
                        text-decoration: none;
                        color: $headerBackgroundDark;
                        font-weight: bold;

                        &:after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            width: 100px;
                            bottom: -6px;
                            right: 0;
                            background-color: $headerBackgroundDark;
                            transform: scaleX(0);
                            transition: 0.2s transform linear;
                        }
    
                        &:hover {
                            &:after {
                                transform: scaleX(1);
                            }
                        }
                    }
                }
            }

            .slick-dots {

                li {
                    button {

                        &:before {
                            color: $baseButtonBackground;
                            font-size: 14px;
                            opacity: 1;
                            top: -25px;
                        }
                    }

                    &.slick-active {
                        button {
                            &:before {
                                color: $headerBackgroundDark;
                            }
                        }
                    }
                }
            }
        }
    }
}

section.last-tutorials {
    padding: 25px;
    box-shadow: $basicBoxShadow;
    background-color: $formBackgroundColor;
    border-radius: 4px;
    margin-top: 20px;

    h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 24px;
        border-bottom: $inputTextBorder;
    }

    .last-tut-container {

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin: 20px 0 30px 0;
            position: relative;

            h2 {
                text-align: left;
                text-transform: inherit;
                font-size: 20px;
                color: $headerBackgroundDark;
            }

            .tut-date {
                font-style: italic;
                color: $basicMenuFontColor;
                margin: 5px 0;
                font-size: 14px;
            }

            .tut-info {
                display: flex;
                flex-direction: column;

                @media screen and (min-width: 550px){
                    flex-direction: row;
                }

                & > div {
                    text-align: center;
                }

                .tut-header {
                    text-align: justify;
                }

                img {
                    height: 150px;
                    margin: 0 15px;
                }
            }

            .tut-read-game, .tut-read-more {
                text-align: right;
                margin-bottom: 20px;
                
                a {
                    text-decoration: none;
                    color: $headerBackgroundDark;
                    font-weight: bold;
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 144px;
                        bottom: -6px;
                        right: 0;
                        background-color: $headerBackgroundDark;
                        transform: scaleX(0);
                        transition: 0.2s transform linear;
                    }

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                        }
                    }
                }
            }

            .tut-read-game {
                a {
                    &:after {
                        width: 112px;
                    }
                }
            }

            &:after {
                content: '';
                position: absolute;
                width: 85%;
                height: 1px;
                background-color: $ratingBackgroundColor;
                bottom: -20px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}