div.register-new-user {

    @media screen and (min-width: 767px){
        padding: 0 100px;
    }
    
    form {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;

        @media screen and (min-width: 767px){
            padding: 30px 50px;
        }

        .form-line {
            margin-bottom: 15px;

            .form-left-column {
                display: inline-block;
                width: 150px;
                text-align: left;
                padding-right: 10px;
            }

            .form-right-column {
                display: inline-block;
                width: 100%;

                @media screen and (min-width: 420px){
                    width: 50%;
                }

                @media screen and (min-width: 767px){
                    width: 100%;
                }

                @media screen and (min-width: 900px){
                    width: 50%;
                }

                @media screen and (min-width: 1420px){
                    width: 350px;
                }
            }
        }
    }
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.need-to-registration {
    font-size: 14px;
    color: #303133;
}