.web-center-section {
    background-color: white;
    margin: auto;
    margin-top: 0;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
    min-height: 1000px;
    font-family: 'Roboto', sans-serif;

    @media screen and (min-width: 767px){
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (min-width: 1300px){
        padding-top: 75px;
    }

    @media screen and (min-width: 1330px){
        width: 1330px;
    }

    @media screen and (min-width: 1500px){
        padding-top: 70px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        position: relative;

        @media screen and (min-width: 767px){
            font-size: 40px;
        }
    }
}