div.tutorials-list {

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            transition-duration: 250ms;

            &:hover {
                background-color: $headerBackgroundLight;

                a {
                    color: $basicMenuFontColor;
                }
            }

            a {
                text-decoration: none;
                color: $basicSectionColor;
                font-weight: normal;
                font-size: 25px;
                width: 100%;
                display: block;
                padding: 10px 30px;
            }
        }
    }
}

div.tutorial-detail {

    .tut-game-info {
        font-size: 18px;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            color: $headerBackgroundDark;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                height: 2px;
                left: 0;
                bottom: -6px;
                right: 0;
                background-color: $headerBackgroundDark;
                transform: scaleX(0);
                transition: 0.2s transform linear;
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    
    .tut-detail-date, .tut-detail-author {
        font-size: 16px;
        font-style: italic;
        color: $basicMenuFontColor;
        margin-bottom: 10px;
    }

    .tut-detail-content {
        padding: 20px 30px;
        border-radius: 4px;
        box-shadow: $basicBoxShadow;
        margin: 20px 0;
        background-color: $formBackgroundColor;
        font-size: 18px;

        img, iframe {
            margin-top: 50px;
            margin-bottom: 50px;
            max-width: 100%;
        }
    }
}