div.user-profile-page {

    .user-info-conteiner {
        margin-top: 70px;
        display: flex;
        background-color: $formBackgroundColor;
        padding: 20px;
        border-radius: 5px;
        box-shadow: $basicBoxShadow;
        position: relative;
        flex-direction: column;

        @media screen and (min-width: 767px){
            flex-direction: row;
        }

        .user-avatar {
            flex: 1;
            margin: auto;
            text-align: center;

            img {
                max-width: 200px;
                max-height: 200px;
                border: $basicSectionBorder;
            }
        }

        .user-info {
            flex: 1;
        }

        .user-games-info {
            flex: 1;
            padding-bottom: 50px;
        }

        .user-info1 {
            font-weight: bold;
            margin: 10px;
        }

        .user-info2 {
            font-size: 20px;
            margin: 5px;

            span {
                font-weight: normal;
                font-size: 15px;
                margin: 5px;
            }

            .play-time {
                font-weight: bold;
                font-size: 20px;
            }
        }

        .edit-profile-btn {
            text-decoration: none;
            color: $basicSectionColor;
            position: absolute;
            right: 10px;
            bottom: 10px;
            background: $baseButtonBackground;
            padding: 15px;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            transition-duration: 300ms;

            &:hover {
                background: $basicHoverButton;
            }
        }
    }
}

.user-description-text {
    text-align: justify;
    display: block;
    // width: 60%;
    margin: auto;
    width: 100%;
}

.my-games-conteiner {
    display: flex;
    
    flex-direction: column;

    @media screen and (min-width: 1100px){
        flex-direction: row;
        margin: 0 -10px;
    }

    .see-all {
        text-decoration: none;
        color: $headerBackgroundDark;
        display: block;
        text-align: center;
        font-weight: bold;
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 135px;
            bottom: -6px;
            right: 0;
            background-color: $headerBackgroundDark;
            transform: scaleX(0);
            transition: 0.2s transform linear;
            margin: auto;
            left: 0;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    .last-add-games {
        flex: 1;
        background-color: $formBackgroundColor;
        border-radius: 5px;
        box-shadow: $basicBoxShadow;
        width: 100%;
        margin-bottom: 20px;

        @media screen and (min-width: 1100px){
            margin: 10px;
            width: 50%;
        }

        h3 {
            text-align: center;
            margin: 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 15px;
                border: 1px solid transparent;
                padding: 5px;
                transition-duration: 200ms;

                @media screen and (min-width: 767px){
                    &:hover {
                        background-color: $headerBackgroundLight; 
                        box-shadow: $basicBoxShadow;
                        color: $basicMenuFontColor;
    
                        span {
                            color: $basicMenuFontColor;
                        }
                    }
                }
            }

            a {
                text-decoration: none;

                img {
                    height: 70px;
                    vertical-align: middle;
                    position: absolute;

                    @media screen and (min-width: 767px){
                        position: inherit;
                    }
                }

                span {
                    font-size: 17px;
                    color: $basicSectionColor;
                    display: block;
                    margin: 0;
                    text-align: center;
                    padding-left: 55px;
                    vertical-align: middle;

                    @media screen and (min-width: 767px){
                        display: inline-block;
                    }

                    @media screen and (min-width: 1100px){
                        margin: 10px;
                        padding: 0;
                    }

                    &.game-title {
                        font-weight: bold;
                        
                        @media screen and (min-width: 767px){
                            max-width: 300px;
                            text-align: left;
                        }

                        @media screen and (min-width: 1100px){
                            max-width: 250px;
                        }
                    }
                }
            }

            span {
                margin: 10px;
            }
        }
    }

    .last-played-games {
        flex: 1;
        width: 50%;
        background-color: $formBackgroundColor;
        border-radius: 5px;
        margin: 10px 10px 10px 0;
        box-shadow: $basicBoxShadow;

        h3 {
            text-align: center;
            margin: 0;
        }
    }
}

div.user-game-collection, .user-played-games {

    h3 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .have-and-finish {
        margin: 0;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
        border-bottom: $basicSectionBorder;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        margin-bottom: 30px;

        li {
            width: 200px;
            text-align: center;
            margin: 10px;
            box-shadow: $basicBoxShadow;
            border-radius: 10px;
            padding: 10px;
            border: $notPlayedGameBorder;
            background-color: $formBackgroundColor;
            position: relative;

            &.played-game {
                background-color: $haveGameBackground;
                position: relative;

                &:after {
                    content: '';
                    background-image: url('../img/complete.png');
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    top: -15px;
                    right: -15px;
                    background-size: cover;
                }
            }
            
            a {
                display: flex;
                flex-direction: column;
                height: 260px;
                text-decoration: none;
                color: $basicSectionColor;

                img {
                    max-height: 170px;
                    max-width: 120px;
                    margin: auto;
                    border: $basicSectionBorder;
                    margin-top: 0;

                    & + div {
                        font-weight: bold;
                        margin: 5px;
                    }
                }

                .collection-platform {
                    span {
                        margin: 2px;

                        &:nth-of-type(2) {
                            font-style: italic;
                            font-size: 14px;
                        }
                    }
                }
            }

            .collection-delete {
                position: absolute;
                bottom: 0;
                right: 0;

                button {
                    width: 20px;
                    height: 20px;
                    border: none;
                    border-radius: 50%;
                    background-color: $inputTextBackground;
                    box-shadow: $basicInsetBoxShadow;
                    position: relative;
                    cursor: pointer;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 10px;
                        background: black;
                        transform: rotate(45deg);
                        display: block;
                        left: 0;
                        right: 0;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

.user-played-games {

    ul {
        margin-bottom: 30px;

        .played-game-item {
            width: 250px;
        }
    }
    
}

div.edit-user-profile {
    
    h2 {
        margin-top: 50px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .user-data {
        
        form {
            border-radius: 4px;
            box-shadow: $basicBoxShadow;
            margin: 20px 0;
            background-color: $formBackgroundColor;
            padding: 15px;

            @media screen and (min-width: 1100px){
            padding: 20px 30px;
            }

            h4 {
                margin: 0;
                text-align: center;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .form-items-container {
                text-align: center;
                
                .current-avatar {
                    margin: 0;

                    img {
                        max-width: 150px;
                        max-height: 150px;
                        vertical-align: middle;
                    }
                }
            }

            .form-items-container > div {
                display: block;
                width: 100%;
                margin: 15px 0;

                @media screen and (min-width: 767px){
                    display: inline-block;
                    width: 30%;
                }
            }

            .form-info-container {

                .form-info-item {
                    text-align: center;
                    margin: 15px 0;

                    .form-info-item-header {
                        width: 150px;
                        text-align: center;
                        margin: 0;

                        @media screen and (min-width: 767px){
                            text-align: right;
                            margin-right: 15px;
                        }
                    }

                    .form-info-item-content {
                        width: 100%;

                        @media screen and (min-width: 767px){
                            width: 300px;
                        }
                    }
                }

                .form-info-item > div {
                    display: inline-block;
                }
            }

            .form-info-textarea {

                textarea {
                    width: 100%;
                    height: 200px;
                }
            }

            .form-password-container {
                text-align: center;
                margin-bottom: 10px;

                .form-password-item {
                    display: inline-block;
                    width: 100%;

                    @media screen and (min-width: 767px){
                        width: 250px;
                    }
                }
            }

            .base-btn {
                display: block;
                margin: auto;

                @media screen and (min-width: 767px){
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
    }

    .img-error {
        text-align: center;
        color: $errorColor;
        font-weight: bold;
    }
}

.collection-delete-modal, .fail-remove-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    display: none;
    z-index: 9;

    .collection-delete-content, .fail-remove-content {
        width: 50%;
        text-align: center;
        border: $basicSectionBorder;
        margin: auto;
        margin-top: 25%;
        transform: translateY(-50%);
        padding: 20px;
        background-color: $headerBackgroundLight;
        border-radius: 10px;
        box-shadow: $basicBoxShadow;

        h2 {
            margin-bottom: 20px;
            color: $basicMenuFontColor;
            text-transform: capitalize;
        }

        button {
            margin: 30px;
        }
    }
}

.fail-remove-container {
    display: block;
}